server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://182.92.140.129:3306/knowhub?characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: www55555l
    driver-class-name: com.mysql.cj.jdbc.Driver

  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 5MB

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0
      id-type: auto

jwt:
  secret-key: "y7Fh9kG2vR8uQp6XsD3fT0bN4mL1wC0z"
  ttl: 3600000

debug: false